[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
python-dotenv = "*"
pillow = "*"
model-bakery = "*"
channels = {extras = ["daphne"], version = "*"}
djangochannelsrestframework = "*"
djangorestframework-simplejwt = "*"
black = "*"
uvicorn = "*"
gunicorn = "*"
pytest-django = "*"
django = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
django-allauth = "*"
dj-rest-auth = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.12"
