{% load static tailwind_tags %}
    {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

      {% tailwind_css %}

</head>
<body>


    <div class="flex flex-col items-center justify-center min-h-screen space-y-4">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sign in as Client</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">I’m a client, hiring for a project</p>
        </a>
        <a href="{% url 'user:user signup' %}" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sign in as a Freelancer</h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">I’m a freelancer, looking for work</p>
        </a>
    </div>
    
</body>
</html>