{% extends "client/index.html" %}
{% load crispy_forms_tags %}

{% block title %}View Assignment{% endblock %}
{% block content %}
<br>
<div class="relative mx-auto max-w-md rounded-lg bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg">
    <div class="bg-white p-7 rounded-md">
        <h1 class="font-bold text-xl mb-2">{{assignment.title}}</h1>
            <h2 class="font-bold text-base mb-2"> Subject: {{assignment.subject}} </h2>

        <p>{{assignment.description}}</p>
        <br>
        <br>
        <p>Download: <a class="text-blue-900" href="{{ assignment.upload_file.url }}" >{{assignment.upload_file}}</a></p>

    </div>
</div>
{% endblock %}